In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('food_recipes.csv')
df.head(1)

,link,title,ratings,num_reviews,ingredients,servings,cook_time,calorie,fat_g,carb_g,protein_g,cholesterol_mg,sodium_mg
0,https://www.allrecipes.com/recipe/100164/chip-...,chip-truck-fries,4.4375,44 reviews,"['6 baking potatoes, cut into 1/4 inch slices'...",4.0,1 h,369 calories;,14.0,56.3,6.5,0,478.0

In [4]:
df.shape

(5921, 13)

In [5]:
df[df.ratings.isnull()]

,link,title,ratings,num_reviews,ingredients,servings,cook_time,calorie,fat_g,carb_g,protein_g,cholesterol_mg,sodium_mg
3,https://www.allrecipes.com/recipe/100546/japan...,japanese-tofu-salad,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.allrecipes.com/recipe/100593/chick...,chicken-noodle-salad-with-peanut-ginger-dressing,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,https://www.allrecipes.com/recipe/100612/chedd...,cheddar-baby-leek-and-tomato-sandwich,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,https://www.allrecipes.com/recipe/106381/asian...,asian-pasta-salad-with-beef-broccoli-and-bean-...,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,https://www.allrecipes.com/recipe/106515/peruv...,peruvian-chicken-soup-aguadito-de-pollo,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5855,https://www.allrecipes.com/recipe/90481/chicke...,chicken-with-asparagus-and-roasted-red-peppers,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5857,https://www.allrecipes.com/recipe/90544/chicke...,chicken-wing-dip,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5858,https://www.allrecipes.com/recipe/9059/broccol...,broccoli-chicken-fettuccini-alfredo,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5907,https://www.allrecipes.com/recipe/97058/chines...,chinese-shrimp-and-tofu-soup,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5917,https://www.allrecipes.com/recipe/98799/south-...,south-african-yellow-rice,NaN,NaN,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.isnull().sum()

link                 0
title                1
ratings           1130
num_reviews       1131
ingredients          3
servings          1131
cook_time         1325
calorie           1144
fat_g             1144
carb_g            1144
protein_g         1144
cholesterol_mg    1144
sodium_mg         1144
dtype: int64

In [7]:
drop_val = df[df.ratings.isnull()].index.tolist()

In [8]:
df.drop(drop_val, inplace=True)

In [9]:
df.shape

(4791, 13)

In [10]:
df[df.calorie.isnull()]

,link,title,ratings,num_reviews,ingredients,servings,cook_time,calorie,fat_g,carb_g,protein_g,cholesterol_mg,sodium_mg
413,https://www.allrecipes.com/recipe/215232/black...,black-bean-soup,4.680000,17 reviews,"['2 tablespoons Goya Extra Virgin Olive Oil', ...",4.0,35 m,NaN,NaN,NaN,NaN,NaN,NaN
414,https://www.allrecipes.com/recipe/215239/easy-...,easy-three-bean-salad,4.411765,13 reviews,"['Salad:', '1 (15.5 ounce) can Goya Blackeye P...",8.0,10 m,NaN,NaN,NaN,NaN,NaN,NaN
602,https://www.allrecipes.com/recipe/222976/medit...,mediterranean-chickpea-salad,4.545455,54 reviews,['1 (15.5 ounce) can GOYA® Low Sodium Chick Pe...,4.0,20 m,NaN,NaN,NaN,NaN,NaN,NaN
713,https://www.allrecipes.com/recipe/230184/tomat...,tomato-basil-mozzarella-melt,4.769231,10 reviews,"[""6 Sister Schubert's® Mini Baguettes"", '1/2 c...",6.0,31 m,NaN,NaN,NaN,NaN,NaN,NaN
1375,https://www.allrecipes.com/recipe/14524/wiscon...,wisconsin-bratwurst,4.535181,363 reviews,"['2 pounds fresh bratwurst sausages', '2 onion...",10.0,45 m,NaN,NaN,NaN,NaN,NaN,NaN
1441,https://www.allrecipes.com/recipe/16310/corned...,corned-beef-and-cabbage-i,4.612741,841 reviews,['3 pounds corned beef brisket with spice pack...,5.0,2 h 35 m,NaN,NaN,NaN,NaN,NaN,NaN
1499,https://www.allrecipes.com/recipe/17407/kabob-...,kabob-marinade,4.719262,355 reviews,"['1 cup vegetable oil', '3/4 cup soy sauce', '...",6.0,15 m,NaN,NaN,NaN,NaN,NaN,NaN
1772,https://www.allrecipes.com/recipe/222978/roast...,roast-adobo-pork-loin,4.726027,174 reviews,"['2 tablespoons chili powder', '1 tablespoon G...",4.0,40 m,NaN,NaN,NaN,NaN,NaN,NaN
2122,https://www.allrecipes.com/recipe/256102/pork-...,pork-osso-buco,4.628572,NaN,"['', '', '', '', '', '', '', '', '', '', '', '...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2298,https://www.allrecipes.com/recipe/43655/perfec...,perfect-turkey,4.812646,1k reviews,"['1 (18 pound) whole turkey, neck and giblets ...",24.0,17 h,NaN,NaN,NaN,NaN,NaN,NaN
2335,https://www.allrecipes.com/recipe/50931/grille...,grilled-venison-backstrap,4.814159,294 reviews,"['2 pounds venison backstrap, cut into 2-inch ...",4.0,5 h 15 m,NaN,NaN,NaN,NaN,NaN,NaN
3131,https://www.allrecipes.com/recipe/151593/campb...,campbellsr-tuna-noodle-casserole,4.354667,285 reviews,"[""2 (10.75 ounce) cans Campbell's® Condensed C...",8.0,45 m,NaN,NaN,NaN,NaN,NaN,NaN
5256,https://www.allrecipes.com/recipe/56708/honey-...,honey-coconut-salmon,4.204545,105 reviews,"['1 1/2 cups butter', '3/4 cup honey', '1/4 cu...",4.0,1 h 20 m,NaN,NaN,NaN,NaN,NaN,NaN
5510,https://www.allrecipes.com/recipe/75431/citrus...,citrus-turkey-brine,4.800000,225 reviews,"['1 cup salt', '1 lemon, cut into wedges', '1 ...",15.0,20 m,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
drop_val = df[df.calorie.isnull()].index.tolist()

In [12]:
df.drop(drop_val, inplace=True)

In [13]:
df.shape

(4777, 13)

In [14]:
df.isnull().sum()

link                0
title               0
ratings             0
num_reviews         0
ingredients         1
servings            0
cook_time         194
calorie             0
fat_g               0
carb_g              0
protein_g           0
cholesterol_mg      0
sodium_mg           0
dtype: int64

In [15]:
df[df.ingredients.isnull()]

,link,title,ratings,num_reviews,ingredients,servings,cook_time,calorie,fat_g,carb_g,protein_g,cholesterol_mg,sodium_mg
1535,https://www.allrecipes.com/recipe/188706/cabba...,cabbage-and-noodles,4.505465,293 reviews,NaN,4.0,45 m,447 calories;,19.1,53.1,17.5,90.0,616.0

In [16]:
df.drop(1535, inplace=True)

In [17]:
df.types

AttributeError: 'DataFrame' object has no attribute 'types'

In [18]:
df.dtypes

link               object
title              object
ratings           float64
num_reviews        object
ingredients        object
servings          float64
cook_time          object
calorie            object
fat_g             float64
carb_g            float64
protein_g         float64
cholesterol_mg     object
sodium_mg          object
dtype: object

In [19]:
df.head(1)

,link,title,ratings,num_reviews,ingredients,servings,cook_time,calorie,fat_g,carb_g,protein_g,cholesterol_mg,sodium_mg
0,https://www.allrecipes.com/recipe/100164/chip-...,chip-truck-fries,4.4375,44 reviews,"['6 baking potatoes, cut into 1/4 inch slices'...",4.0,1 h,369 calories;,14.0,56.3,6.5,0,478.0

In [20]:
df.num_reviews = df.num_reviews.apply(lambda x: x[:-8])

In [21]:
df_replace_k = df[df.num_reviews.str.contains('k')]
df_replace_k.num_reviews = df_replace_k.num_reviews.apply(lambda x: x[:-1] + '000')

C:\Users\chamo\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [22]:
replace_idx = df_replace_k.index.tolist()
for idx in replace_idx:
    df.loc[idx] = df_replace_k.loc[idx]

In [23]:
df.num_reviews = df.num_reviews.astype('int')

In [24]:
print(df.num_reviews.dtypes)
df.loc[replace_idx[:2]]

int32

,link,title,ratings,num_reviews,ingredients,servings,cook_time,calorie,fat_g,carb_g,protein_g,cholesterol_mg,sodium_mg
9,https://www.allrecipes.com/recipe/104850/black...,black-bean-and-corn-quesadillas,4.624080,1000,"['2 teaspoons olive oil', '3 tablespoons finel...",8.0,40 m,363 calories;,14.5,45.6,13.9,26,732.0
81,https://www.allrecipes.com/recipe/142027/sweet...,sweet-restaurant-slaw,4.764481,2000,"['1 (16 ounce) bag coleslaw mix', '2 tablespoo...",8.0,2 h 15 m,200 calories;,12.0,22.5,0.8,11,253

In [25]:
df_cooktime = df[df.cook_time.tonull()]

AttributeError: 'Series' object has no attribute 'tonull'

In [26]:
df_cooktime = df[df.cook_time.notnull()]

In [28]:
def convert_cooktime(x):
    cooktime = x.split()
    if 'h' in cooktime and 'm' in cooktime:
        x= int(cooktime[0]) * 60 + int(cooktime[2])
    elif 'h' in cooktime and 'm' not in cooktime:
        x = int(cooktime[0]) * 60
    else:
        x = int(cooktime[0])
    return x

In [29]:
df_cooktime.cook_time = df_cooktime.cook_time.apply(convert_cooktime)

C:\Users\chamo\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [31]:
replace_idx = df_cooktime.index.tolist()
for idx in replace_idx: 
    df.loc[idx] = df_cooktime.loc[idx]

In [32]:
print(df.cook_time.dtypes)

object

In [33]:
df.loc[replace_idx[:2]]

,link,title,ratings,num_reviews,ingredients,servings,cook_time,calorie,fat_g,carb_g,protein_g,cholesterol_mg,sodium_mg
0,https://www.allrecipes.com/recipe/100164/chip-...,chip-truck-fries,4.437500,44,"['6 baking potatoes, cut into 1/4 inch slices'...",4.0,60,369 calories;,14.0,56.3,6.5,0,478.0
1,https://www.allrecipes.com/recipe/100378/irish...,irish-bacon-and-cabbage-soup,4.536946,163,"['1/2 pound Irish bacon, diced', '2 large pota...",4.0,45,276 calories;,8.1,38.4,12.3,21,825.0

In [34]:
df.cook_time.fillna(0, inplace=True)

In [35]:
df.cook_time.dtypes

dtype('int64')

In [36]:
df.calorie = df.calorie.apply(lambda x: float(x.split(' ')[0]))

In [37]:
print(df.calorie.dtypes)

float64

In [38]:
df.head(1)

,link,title,ratings,num_reviews,ingredients,servings,cook_time,calorie,fat_g,carb_g,protein_g,cholesterol_mg,sodium_mg
0,https://www.allrecipes.com/recipe/100164/chip-...,chip-truck-fries,4.4375,44,"['6 baking potatoes, cut into 1/4 inch slices'...",4.0,60,369.0,14.0,56.3,6.5,0,478.0

In [39]:
df.cholesterol_mg = df.cholesterol_mg.replace('< 1', 0)

In [40]:
df.sodium_mg = df.sodium_mg.replace('< 1', 0)

In [41]:
df.cholesterol_mg = df.cholesterol_mg.astype(float)
df.sodium_mg = df.sodium_mg.astype(float)

In [42]:
print(df.cholesterol_mg.dtypes)

float64

In [43]:
print(df.sodium_mg.dtypes)

float64

In [44]:
df.sodium_mg = df.sodium_mg.fillna(np.round(df.sodium_mg.mean()))

In [45]:
df.sodium_mg.dtypes

dtype('float64')

In [46]:
df.ratings = df.ratings.round(2)

In [47]:
df.head(2)

,link,title,ratings,num_reviews,ingredients,servings,cook_time,calorie,fat_g,carb_g,protein_g,cholesterol_mg,sodium_mg
0,https://www.allrecipes.com/recipe/100164/chip-...,chip-truck-fries,4.44,44,"['6 baking potatoes, cut into 1/4 inch slices'...",4.0,60,369.0,14.0,56.3,6.5,0.0,478.0
1,https://www.allrecipes.com/recipe/100378/irish...,irish-bacon-and-cabbage-soup,4.54,163,"['1/2 pound Irish bacon, diced', '2 large pota...",4.0,45,276.0,8.1,38.4,12.3,21.0,825.0

In [48]:
df.title = df.title.apply(lambda x: x.replace('-', ' ').title())

In [49]:
df.head(2)

,link,title,ratings,num_reviews,ingredients,servings,cook_time,calorie,fat_g,carb_g,protein_g,cholesterol_mg,sodium_mg
0,https://www.allrecipes.com/recipe/100164/chip-...,Chip Truck Fries,4.44,44,"['6 baking potatoes, cut into 1/4 inch slices'...",4.0,60,369.0,14.0,56.3,6.5,0.0,478.0
1,https://www.allrecipes.com/recipe/100378/irish...,Irish Bacon And Cabbage Soup,4.54,163,"['1/2 pound Irish bacon, diced', '2 large pota...",4.0,45,276.0,8.1,38.4,12.3,21.0,825.0

In [50]:
df.link.duplicated().sum()

0

In [51]:
df.title.duplicated().sum()

0

In [52]:
df.shape

(4776, 13)

In [53]:
df.to_csv('preprocessed_foodrecipes.csv', index=False)